{% extends 'accueil/view.html.twig' %}
 
{% block title %}
  Modifier une annonce - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Modifier une annonce</h2>

  {{ include("accueil/form.html.twig") }} 

  <p>
    Vous éditez une annonce déjà existante, merci de ne pas changer
    l'esprit général de l'annonce déjà publiée.
  </p>

  <p>
    <a href="{{ path('acc_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
  </p>

{% endblock %}