<h3>Formulaire d'annonce</h3>

{# On laisse vide la vue pour l'instant, on la comblera plus tard
   lorsqu'on saura afficher un formulaire. #}
<div class="well form-group">
 <form>
   <label for="exampleInputEmail1">Edit Annonce</label>
    <input type="text" class="form-control" >
 </form>
</div>