{% extends 'accueil/index.html.twig' %}

{% block title %}
   Annonces - {{ parent() }}
{% endblock %}

{% block body %}
  <h2>{{ advert.title }}</h2>
  <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ advert.content }}
  </div>

  <p>
    <a href="{{ path('accueil') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('acc_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
     <a href="{{ path('acc_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
    
  </p>
{% endblock %}

 {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block verdade_body %}
  {% endblock %}